In [2]:
## import librerie

## generiche
import numpy as np
import pandas as pd
import geopandas as gpd
import datetime

## per grafici
import matplotlib.pyplot as plt
import seaborn as sns

## filtra_intersezioni
import shapely
from shapely.geometry import LineString

In [10]:
df1= pd.read_csv("data/salite.csv")

df2= pd.read_csv("data/discese.csv")

# Unisci i due DataFrame uno sopra l'altro
df = pd.concat([df1, df2], ignore_index=True)

# Ordina il DataFrame risultante in base alla colonna 'unixtime_start'
df_sorted = df.sort_values(by='unixtime_start')



# Mostra il DataFrame ordinato
df_sorted.head()

   index  unixtime_start  unixtime_end          stato
0      0      1734859131    1734859515         Valvan
1     10      1734859650    1734860191        Discesa
2      1      1734860924    1734861176    Cuel d’Ajar
3     11      1734861215    1734861429        Discesa
4      2      1734861574    1734861854  Giro d’Italia